// Header
header#header(class="#{headerClass}")
  h1
    a(href="/") Alpha
    |  by HTML5 UP
  nav#nav
    ul
      li: a(href="/index.html") Home
      li: a(href="/blog/") Blog
      li
        a.icon.fa-angle-down Layouts
        ul
          li: a(href="/generic.html") Generic
          li: a(href="/contact.html") Contact
          li: a(href="/elements.html") Elements
          li
            a(href="") Submenu
            ul
              li: a(href="#") Option One
              li: a(href="#") Option Two
              li: a(href="#") Option Three
              li: a(href="#") Option Four
      li: a.button(href="#") Sign Up
