extends _main.jade

block body
  body.landing
    // Header
    != partial("_header", {headerClass: "alt"})

    // Banner
    section#banner
      h2 Alpha
      p Another fine responsive site template freebie by HTML5 UP.
      ul.actions
        li: a.button.special(href="#") Sign Up
        li: a.button(href="#") Learn More

    // Main
    block content

    block cta
