doctype html
html
  head
    title= title
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="description" content="")
    meta(name="keywords" content="")
    // [if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]
    script(src="/js/jquery.min.js")
    script(src="/js/jquery.dropotron.min.js")
    script(src="/js/jquery.scrollgress.min.js")
    script(src="/js/skel.min.js")
    script(src="/js/skel-layers.min.js")
    script(src="/js/init.js")
    noscript
      link(rel="stylesheet" href="css/skel.css")
      link(rel="stylesheet" href="css/style.css")
      link(rel="stylesheet" href="css/style-wide.css")
    // [if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]

  block body
    p Default body

  footer#footer
    ul.icons
      li 
        a.icon.fa-twitter(href="#"): span.label Twitter
      li
        a.icon.fa-facebook(href="#"): span.label Facebook
      li
        a.icon.fa-instagram(href="#"): span.label Instagram
      li
        a.icon.fa-github(href="#"): span.label Github
      li
        a.icon.fa-dribbble(href="#"): span.label Dribbble
      li
        a.icon.fa-google-plus(href="#"): span.label Google+

    ul.copyright
      li 
        | &copy;  Untitled. All rights reserved.
      li 
        | Design:&nbsp;
        a(href="http://html5up.net") HTML5 UP
