extends ../_main



block body
  - function excerpt(content) {
    - if(!content || content.indexOf("</p>") == -1) return;
    - else return content.split("<p>")[1].split("</p>")[0];
  - }
  body
    // Header
    != partial("../_header", {headerClass: "skel-layers-fixed"})

    // Main
    section.container#main
      header
        h2= title
        p= description

      for post, slug in public.blog._data
        if slug !== 'index' && slug !== 'feed'
          section.box
            header
              h3
                a(href="/blog/#{slug}.html")= post.title
              p
                = post.date
                |  by &nbsp;
                = post.author
            p
              =excerpt(partial(slug))
            ul.actions(style="text-align: right")
              li: a.button.special(href="/blog/#{slug}.html") Read More
